/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./components/search/destination-popup/destination-popup.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.destination-popup-scroll {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f1f5f9;
}

.destination-popup-scroll::-webkit-scrollbar {
  width: 8px;
}

.destination-popup-scroll::-webkit-scrollbar-track {
  background: #f1f5f9;
}

.destination-popup-scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[14].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"components\\search\\destination-popup\\destination-popup-font.ts","import":"","arguments":[{"src":[{"path":"./fonts/poppins-regular.woff2","weight":"400","style":"normal"},{"path":"./fonts/poppins-semibold.woff2","weight":"600","style":"normal"}],"display":"swap"}],"variableName":"destinationPopupPoppins"} ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__destinationPopupPoppins_4c726d';
src: url(/_next/static/media/916d3686010a8de2-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: '__destinationPopupPoppins_4c726d';
src: url(/_next/static/media/d869208648ca5469-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 600;
font-style: normal;
}@font-face {font-family: '__destinationPopupPoppins_Fallback_4c726d';src: local("Arial");ascent-override: 92.83%;descent-override: 30.94%;line-gap-override: 8.84%;size-adjust: 113.11%
}.__className_4c726d {font-family: '__destinationPopupPoppins_4c726d', '__destinationPopupPoppins_Fallback_4c726d'
}

